@charset "utf-8";
/*기본셋팅*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,dt{
	margin: 0px;
}
body{
   min-width: 1200px;
}
a{
	text-decoration: none;
	color: gray;
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.cf:after{
	content:"";
	display:block;
	clear:both;
}
.inner{
	width: 1200px;
	margin:0 auto;
}