@charset "utf-8";
/*기본셋팅*/
body{
   color: #333;  
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin: 0px;
}
a{
	text-decoration: none;
    color: #333;
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.cf:after{
	content:"";
	display:block;
	clear:both;
}
#wrap{
    width: 100%;
}